<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod id incidunt voluptatibus fugiat beatae sunt, explicabo cum error fuga deserunt consectetur, laboriosam eaque assumenda, sint doloribus ipsam. Doloribus, modi inventore?</p>
        <p class="section">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat pariatur, vitae architecto iusto ea dolor placeat distinctio illo ab. Nesciunt aliquid temporibus similique repellat rem possimus enim esse non ducimus?
        </p>
    </div>
    
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
</ul>


</body>
</html>